<div class="body-flex">
  <%= render 'layouts/sidebar' %>
  <div class="root-container">
    <%= render 'layouts/navbar' %>

    <main>
      <h1 class="accent padding-20">User Preferences</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                   class: 'margin-top-20', html: { method: :put, multipart: true }) do |f| %>
        <h2 class="accent margin-lr-20 light-underline">Change Password</h2>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="grid-container user-edit-grid margin-top-20">
          <table class="edit-table">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <tr>
                <td><p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p></td>
              </tr>
            <% end %>
            <tr>
              <td><p class="field-label">Password:</p></td>
              <td><label>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
                                     placeholder: 'New password' %>
              </label></td>
            </tr>
            <tr>
              <td><p class="field-label">Confirm:</p></td>
              <td><label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                     placeholder: 'Re-enter the password' %>
              </label></td>
            </tr>
          </table>
        </div>

        <h2 class="accent margin-lr-20 margin-top-20 light-underline">Change Profile Photo</h2>
        <div class="grid-container user-edit-grid margin-top-20">
          <div class="grid-col">
            <div class="grid-row">
              <p class="field-label">Upload an image:</p>
            </div>
          </div>
          <div class="grid-col">
            <label>
              <%= f.file_field :profile_pic, accepts: '.jpg,.jpeg,.png,.gif', class: 'margin-top-20', direct_upload: true %>
            </label>
          </div>
        </div>

        <h2 class="accent margin-lr-20 margin-top-20 light-underline">Confirm</h2>
        <div class="grid-container user-edit-grid margin-top-20">
          <table class="edit-table">
            <tr>
              <td colspan="2"><p>We need your current password for confirmation</p></td>
            </tr>
            <tr>
              <td><p class="field-label">Password:</p></td>
              <td><label>
                <%= f.password_field :current_password, autocomplete: "current-password",
                                     placeholder: "Current password" %>
              </label></td>
            </tr>
          </table>
        </div>

        <p class="header-center">
          <%= f.submit "Save", class: 'margin-top-20' %>
        </p>
      <% end %>
    </main>

  </div>
</div>
