<%= javascript_include_tag "mp3player.js", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "startaudio.js", "data-turbo-track": "reload", defer: true %>
<section class="song-player-division grid-container">
  <div class="grid-col">
    <button id="playButton" class="play-button">
      <%= image_tag 'icons/play.svg', alt: 'Play', id: 'playIcon' %>
    </button>
    <% if song.user == current_user or current_user.admin %>
      <%= edit_button %>
      <%= delete_button %>
      <%# fix the padding: padding-bottom: 1em; %>
    <% end %>
  </div>
  <div class="grid-col">
    <h1 class="song-name accent"><%= song.title %></h1>
    <div class="grid-row">
      <div id="mp3player-container">
        <div id="mp3player" data-mp3="<%= polymorphic_url @song.mp3 %>">
          <canvas id="analyzer-render"></canvas>
        </div>
        <label>
          <input id="seek-slider" type="range" min="0" max="500" value="0" step="1">
        </label>
        <div id="time-box">
          <span id="current-time">00:00</span> • <span id="duration">00:00</span>
        </div>
        <label>
          <input id="volume-slider" type="range" min="0" max="100" value="100" step="1">
        </label>
      </div>
    </div>
  </div>
  <div class="grid-col flex-column">
    <p>&nbsp;</p>
    <%= album_art_or_placeholder @song, 'album-art-big flex-end' %>
  </div>
</section>
<section class="artist-division grid-container padding-lr-20">
  <div class="grid-col">
    <%= image_tag 'icons/avatar.svg', class: 'artist-photo', alt: "Artist's Photo" %>
  </div>
  <div class="grid-col">
    <h2><%= link_to song.artists.first.name, url_for(song.artists.first), class: 'accent' %>
      <% if song.artists.count > 1 %>
        <strong class="fine-print"> • </strong>
        <% song.artists[1..].each do |artist| %>
          <%= link_to artist.name, url_for(artist), class: 'action-link fine-print' %>
        <% end %>
      <% end %>
    </h2>
    <%= link_to 'View Profile →', url_for(song.artists.first), class: 'action-link fine-print' %>
  </div>
</section>