<div class="body-flex">
  <%= render 'layouts/sidebar' %>
  <div class="root-container">
    <%= render 'layouts/navbar' %>

    <main class="padding-20">
      <h2 class="accent">Edit Song Data</h2>
      <%= form_tag song_path, method: :patch, class: 'margin-top-20' do %>
        <div class="grid-container meta-edit-grid">
          <div class="grid-col">
            <table class="edit-table">
              <tr>
                <td><p class="field-label">Title:</p></td>
                <td><%= text_field_tag 'title', @song.title, placeholder: 'Song title', readonly: true, disabled: true %></td>
              </tr>
              <tr>
                <td><p class="field-label">Collaborators:</p></td>
                <td><%= text_field_tag 'collaborators', @song.artists.map(&:name).join(', '),
                                       placeholder: 'Collaborator names (separated by commas)' %></td>
                <!-- reconsider this -->
                <!--   <td>-->
                <!--     <span id="combo3-remove" style="display: none">remove</span>-->
                <!--     <ul class="selected-options" id="artist-combo-selected"></ul>-->
                <!--     <div class="combo js-multiselect">-->
                <!--       <input aria-activedescendant=""-->
                <!--              aria-autocomplete="none"-->
                <!--              aria-controls="artist-listbox"-->
                <!--              aria-expanded="false"-->
                <!--              aria-haspopup="listbox"-->
                <!--              aria-labelledby="artist-combo artist-combo-selected"-->
                <!--              id="artist-combo"-->
                <!--              name="artist-combo"-->
                <!--              class="combo-input"-->
                <!--              role="combobox"-->
                <!--              placeholder="Search for artists..."-->
                <!--              type="text"/>-->
                <!--       <div class="combo-menu" role="listbox" id="artist-listbox"></div>-->
                <!--     </div>-->
                <!--   </td>-->
              </tr>
              <tr>
                <td><p class="field-label">Album:</p></td>
                <td><%= text_field_tag 'album_title', @song.album.title, placeholder: 'Album title', required: true %></td>
              </tr>
              <tr>
                <td><p class="field-label">...by:</p></td>
                <td><%= text_field_tag 'album_collaborators', @song.album.artists.map(&:name).join(', '),
                                       placeholder: 'Album collaborators (separated by commas)' %></td>
              </tr>
              <tr>
                <td><p class="field-label">Genre:</p></td>
                <td><%= text_field_tag 'genre', (@song.genre.name if @song.genre.present?), placeholder: 'Hip-Hop', required: true %></td>
              </tr>
              <tr>
                <td><p class="field-label">Tags:</p></td>
                <td><%= text_field_tag 'tags_entry', @song.tags.map(&:name).join(', '),
                                       placeholder: 'hiphop, r&b, westcoast' %></td>
              </tr>
            </table>
          </div>
          <div class="grid-col">
            <%= album_art_or_placeholder @song, 'album-art-big flex-end padding-l-1em' %>
          </div>
        </div>
        <p class="header-center">
          <%= submit_tag 'Update', class: 'margin-top-20' %>
        </p>

        </main>
      <% end %>

      <%= javascript_include_tag "combobox.js", "data-turbo-track": "reload", defer: true %>
      <script>
          // const artists = [];
          // <?php if (isset($song->artists))
          //     foreach ($song->artists as $artist)
          // echo "artists.push({text: `" . html_entity_decode($artist->name) . "`, selected: true});";
          // foreach ($artistsNotIn as $entry)
          // echo "artists.push({text: `" . html_entity_decode($entry['name']) . "`, selected: false});" ?>
          // const comboBox = initMultiselect('.js-multiselect', artists);

          // function syncArtists() {
          //     let items = '';
          //     comboBox.selectedEl.querySelectorAll('li').forEach(li => items += li.outerText.replace('"', '\\"') + ',');
          //     document.getElementById('artistsHidden').value = items.substring(0, items.length - 1);
          // }

          // syncArtists();
          // document.getElementById('artist-combo').addEventListener('change', () => syncArtists(), false);
      </script>
      </div>
</div>
